ion-content {
  --background: var(--ion-color-light);
  ion-card {
    --background: #ffffff;
    width: 50%;
    margin: 10px auto 30px;
    ::-ms-browse {
      background: #57b4aa;
      color: #ffffff;
      border: 1px solid #57b4aa;
      padding: 10px;
      border-radius: 15px;
    }
    ::-webkit-file-upload-button {
      background: #57b4aa;
      color: #ffffff;
      border: 1px solid #57b4aa;
      padding: 10px;
      border-radius: 15px;
    }
  }
}
